.ChatArea {
  height: 700px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #222327;
}

.message {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.message::-webkit-scrollbar {
  width: 0px;
}
