.Message {
  display: flex;
  flex-direction: column;
  color: #e3e3e3;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  margin: 10px;
  padding: 24px 24px;
}

// .UserMessage {
// color: #fff;
// }

.AiMessage {
  background-color: #131314;
}
