input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  background-color: black;
  outline: none;

  &:hover {
    border-color: white;
  }

  &:focus {
    border: 2px solid #d0bcff;
  }

  &:disabled {
    background-color: #141218;
  }
}
