  @import '../../settings/variables.scss';

  .button {
    cursor: pointer;
    display: inline-flex;
    border-radius: $button-border-radius;
    color: $primary-color;
    padding: $button-padding;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    align-items: center;

    &.hasText {
      .svgContainer {
        display: flex;
        margin-left: 8px;
      }
    }

    &.secondary {
      @include secondary-button-styles;
    }

    &.filled {
      @include filled-button-styles;
    }
  }
