@import '../../settings/variables.scss';

.button {
  cursor: pointer;
  display: inline-flex;
  border-radius: $button-border-radius;
  color: $primary-color;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  &.secondary {
    padding: 6px 12px;
    color: $secondary-button-color;
    background: $secondary-button-background;
    font-size: $secondary-button-font-size;
    font-weight: $secondary-button-font-weight;
  }

  &.filled {
    background: $filled-button-background;
    color: $filled-button-color;
  }
}
